In [6]:
import numpy as np
import pandas as pd
import yaml

from pathlib import Path
from src import paths

In [7]:
params_path: Path = paths.config_dir("params.yaml")

with open(params_path, "r") as file:
    params = yaml.safe_load(file)

selected_band: str = params["selected_band"]

In [9]:
fault_detection_dir: Path = paths.data_processed_dir("fault_detection")

fault_detection_metadata_filename = "fault_detection_metadata_" + selected_band + ".csv"
fault_detection_metadata_path = fault_detection_dir / fault_detection_metadata_filename

In [10]:
fault_detection_metadata_df = pd.read_csv(fault_detection_metadata_path)

In [11]:
fault_detection_metadata_df

,ID,IDpix,lat,lon,change_type,last_non_change_date,change_start,vegetation_type,label
0,6,186,-33.730077,-71.590832,stable,01/05/2022,1800-01-01 00:00:00,native,0
1,6,187,-33.729538,-71.591371,stable,01/05/2022,1800-01-01 00:00:00,native,0
2,6,188,-33.730077,-71.590293,stable,01/05/2022,1800-01-01 00:00:00,native,0
3,6,189,-33.729538,-71.590832,stable,01/05/2022,1800-01-01 00:00:00,native,0
4,6,190,-33.729808,-71.591910,stable,01/05/2022,1800-01-01 00:00:00,native,0
...,...,...,...,...,...,...,...,...,...
18577,422,8471,-34.909116,-71.846583,fire,28/02/2016,2018-12-01 00:00:00,exotic,1
18578,422,8472,-34.907768,-71.847391,fire,28/02/2016,2018-12-01 00:00:00,exotic,1
18579,422,8473,-34.909385,-71.846583,fire,28/02/2016,2018-12-01 00:00:00,exotic,1
18580,422,8474,-34.908038,-71.846313,fire,28/02/2016,2018-12-01 00:00:00,exotic,1
18581,422,8475,-34.906690,-71.845774,fire,28/02/2016,2018-12-01 00:00:00,exotic,1

In [12]:
fault_detection_metadata_df.loc[:, "last_non_change_date"] = pd.to_datetime(fault_detection_metadata_df["last_non_change_date"], dayfirst=True)

In [13]:
fault_detection_metadata_df

,ID,IDpix,lat,lon,change_type,last_non_change_date,change_start,vegetation_type,label
0,6,186,-33.730077,-71.590832,stable,2022-05-01 00:00:00,1800-01-01 00:00:00,native,0
1,6,187,-33.729538,-71.591371,stable,2022-05-01 00:00:00,1800-01-01 00:00:00,native,0
2,6,188,-33.730077,-71.590293,stable,2022-05-01 00:00:00,1800-01-01 00:00:00,native,0
3,6,189,-33.729538,-71.590832,stable,2022-05-01 00:00:00,1800-01-01 00:00:00,native,0
4,6,190,-33.729808,-71.591910,stable,2022-05-01 00:00:00,1800-01-01 00:00:00,native,0
...,...,...,...,...,...,...,...,...,...
18577,422,8471,-34.909116,-71.846583,fire,2016-02-28 00:00:00,2018-12-01 00:00:00,exotic,1
18578,422,8472,-34.907768,-71.847391,fire,2016-02-28 00:00:00,2018-12-01 00:00:00,exotic,1
18579,422,8473,-34.909385,-71.846583,fire,2016-02-28 00:00:00,2018-12-01 00:00:00,exotic,1
18580,422,8474,-34.908038,-71.846313,fire,2016-02-28 00:00:00,2018-12-01 00:00:00,exotic,1
18581,422,8475,-34.906690,-71.845774,fire,2016-02-28 00:00:00,2018-12-01 00:00:00,exotic,1

In [14]:
fault_detection_metadata_df.to_csv(fault_detection_metadata_path)

In [15]:
fault_detection_metadata_path

PosixPath('/home/tcouso/Uni/projects/esn-change-detection/data/processed/fault_detection/fault_detection_metadata_ndvi.csv')